In [ ]:
import pandas as pd
#from pandas read_csv as r
data =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/month.csv")
data["Name"]

0       January
1      Feburary
2         March
3         April
4           May
5          June
6          July
7        August
8     September
9       October
10     November
11     December
Name: Name, dtype: object